@model IEnumerable<To_Do_List.Models.ToDoList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width:50%">
                @Html.DisplayNameFor(model => model.ListName)
            </th>
            <th style="width:25%">No. of items</th>
            <th style="width:25%">Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListName)
            </td>
            <td>
                @item.Items.Count
            </td>
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary ms-2">Edit</a> 
*@                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info ms-2">Details</a> 
@*                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger ms-2">Delete</a>
*@            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New List</a>
</p>
